{{> navigation}}

<h1>Log In</h1>

{{#if loginMessage}}
    <p>{{loginMessage}}</p>
{{/if}}

{{#if errorMessage}}
    <p>{{errorMessage}}</p>
{{/if}}

<form method="POST" action="/login">
    <label for="username">Username:</label>
    <input type="text" name="username" required=true/>
    
    <label for="email">Email:</label>
    <input type="text" name="email" required=true/>

    <label for="password">Password:</label>
    <input type="password" name="password" required=true />

    <button type="submit">Login</button>
</form>